{% include 'parent_header.html' %}
<center>
	<h1> Profile</h1>
	<form method="post" style="color:black">
			<table class="table" style="width:500px;color: white;">
				{% if data['up']%}
			<tr>
				<th style="color:white">Firstname</th>
				<td><input type="" name="firstname" readonly="" value="{{data['up'][0]['first_name']}}" style="width: 200px;height: 34px;border-radius: 10px;color: black"></td>
			</tr>
			<tr>
				<th style="color:white">Lastname</th>
				<td><input type="" name="lastname" readonly="" value="{{data['up'][0]['last_name']}}" style="width: 200px;height: 34px;border-radius: 10px;color: black"></td>
			</tr>
			<tr>
				<th style="color:white">Place</th>
				<td><input type="" name="place" readonly="" value="{{data['up'][0]['place']}}" style="width: 200px;height: 34px;border-radius: 10px;color: black"></td>
			</tr>
			<tr>
				<th style="color:white">Phone</th>
				<td><input type="" name="phone" readonly="" value="{{data['up'][0]['phone']}}" style="width: 200px;height: 34px;border-radius: 10px;color: black"></td>
			</tr>
			<tr>
				<th style="color:white">Email</th>
				<td><input type="" name="email" readonly="" value="{{data['up'][0]['email']}}" style="width: 200px;height: 34px;border-radius: 10px;color: black"></td>
			</tr>
			<tr>
				<td align="center" colspan="2">
				<input type="submit" name="submit" value="submit" class="btn btn-success"></td>
			</tr>
			{% endif %}
		</table>
</center>
 <style type="text/css">
  	td,th,tr{
  		border: none!important;
  	}
  </style>
{% include 'footer.html' %}