<DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
<table>
	<h1>Registration</h1>
	<tr>
		<th>First Name</th>
		<td><input type="First Name" name="firstname"></td>
	</tr>
	<tr>
		<th>Last Name</th>
		<td><input type="Last Name" name="lastname"></td>
	</tr>
	<tr>
		<th>Semester</th>
		<td><input type="Semester" name="semester"></td>
	</tr>
	<tr>
		<th>Place</th>
		<td><input type="Place" name="place"></td>
	</tr>
	<tr> 
		<th>Email</th>
		<td><input type="Email" name="email"></td>
	</tr>
	<tr>
		<th>Username</th>
		<td><input type="text" name="username"></td>
	</tr>
	<tr>
		<th>Password</th>
		<td><input type="password" name="password"></td>
	</tr>
	<td align="center" colspan="2">
	<input type="submit" name="register" value="SIGN IN">
	</td>
</table>
</center>
</body>
</html>