
{% include 'student_header.html' %}
<center>

	<form method="post" style="color:white">

<h1>View Time Table</h1>
		<table class="table" style="width:500px;color:white;">
			<tr>
				<th>Sl.no</th>
				
				<th>Course</th>
				<th>Semester</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
			{% for i in data['view'] %}
			<tr>
				<td>{{loop.index}}</td>
				
				<td>{{i['course']}}</td>
				<td>{{i['semester']}}</td>
				<td>{{i['date']}}</td>
				<td>{{i['time']}}</td>
				
			</tr>
			{% endfor %}
		</table>
</center>

{% include 'footer.html' %}